<html>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Vote for the next CE
      </h1>
    </div>
  </section>  

      <div style="margin-right: 420px">
  <form action = "/vote-submit" method = "post">
    <figure class="image is-48x48">
     <img src="/static/images/John_Tsang.png" width="120" height="120">
     </figure>
      <span id="button1"">
      <button class="button is-warning" name="click" type="submit" value='{"username":"John_Tsang","value":1}'> Vote John Tsang !</button>
    </span>
    <br/>
    <br/>
    <figure class="image is-48x48">
      <img src="/static/images/Carrie_Lam.png" width="120" height="120">
    </figure>
    <span id="button2"">
     <button class="button is-primary" name="click" type="submit" value='{"username":"Carrie_Lam","value":2}'> Vote for Carrie Lam !</button>
      </span>
      <br/>
      <br/>
      <figure class="image is-48x48">
            <img src="/static/images/Woo_Kwok_Hing.png" width="120" height="120">
      </figure>
      <br/>
     <span id="button3"">
      <button class="button is-info" name="click" type="submit" value='{"username":"Woo_Kwok_Hing","value":3}'> Vote for Woo Kwok Hing !</button>
    </span>
  </form>
  </div> 


<!-- <div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">John Tsang</p>
          <p class="subtitle">Former Financial Secretary</p>
          <figure class="image is-48x48">
            <img src="/static/images/John_Tsang.png" width="120" height="120">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Carrie Lam</p>
          <p class="subtitle">Former Chief Secretary for Administration</p>
          <figure class="image is-48x48">
            <img src="/static/images/Carrie_Lam.png" width="120" height="120">
          </figure>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Woo Kwok Hing</p>
          <p class="subtitle">Retired Hong Kong Judge</p>
          <figure class="image is-48x48">
            <img src="/static/images/Woo_Kwok_Hing.png" width="120" height="120">
          </figure>
        </article>
      </div>
    </div> -->
</html>
